@font-face {
    font-family: 'Permanent Marker';
    src: url('font/PermanentMarker-Regular.ttf') format('truetype');
}

/* 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    background: url('images/main1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

/* 헤더 스타일 */
header {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/* 로고 스타일 */
.logo img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* 홈 버튼 스타일 */
.home-button img {
    width: 50px;
    height: 50px;
}

/* 콘텐츠 스타일 */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h2 {
    font-size: 2.5rem; /* WELCOME 크기 */
    color: #FFA000; /* 더 진한 노란색 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h2::before,
.content h2::after {
    content: "";
    display: inline-block;
    width: 80px; /* 작대기 길이 */
    height: 3px; /* 작대기 두께 */
    background-color: #FFA000; /* 더 진한 노란색 */
    margin: 0 15px;
}

.content h1 {
    font-size: 6rem; /* KIM DOGYUN 크기 */
    font-weight: bold;
    margin: 20px 0;
    color: white; /* 기본 흰색 */
}

.content h3 {
    font-size: 2rem; /* PORTFOLIO 크기 */
    color: #FFA000; /* 더 진한 노란색 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h3::before,
.content h3::after {
    content: "";
    display: inline-block;
    width: 60px; /* 작대기 길이 */
    height: 3px; /* 작대기 두께 */
    background-color: #FFA000; /* 더 진한 노란색 */
    margin: 0 15px;
}
