/* 헤더 스타일 */
header {
    position: absolute;
    top: 10px; /* 상단 여백 */
    left: 10px; /* 좌측 여백 */
    width: calc(100% - 20px); /* 전체 폭에서 좌우 여백 제외 */
    display: flex;
    justify-content: space-between; /* 로고와 홈 버튼 간격 조정 */
    align-items: center;
    padding: 0;
}

/* 로고 스타일 */
.logo img {
    width: 45px; /* 로고 크기 */
    height: auto;
    cursor: pointer;
}

/* 홈 버튼 스타일 */
.home-button {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, border-color 0.3s;
    position: absolute;
    top: 10px; /* 상단 여백 */
    right: 10px; /* 우측 여백 */
}

.home-button:hover {
    background: rgba(255, 255, 255, 0.6);
    border-color: white;
}

.home-icon {
    width: 30px;
    height: 30px;
}
