/* 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    background: url('images/main1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}

/* 헤더 스타일 */
header {
    position: absolute;
    top: 10px; /* 헤더 상단 여백 */
    left: 10px;
}

/* 로고 스타일 */
.logo img {
    width: 100px;
    height: auto;
    cursor: pointer;
    filter: invert(100%) brightness(200%);
    margin-bottom: 20px; /* 로고와 사이드바 사이 간격 */
}

/* 사이드바 스타일 */
.sidebar {
    position: absolute;
    top: 150px; /* 사이드바 위치 */
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 아래쪽으로 버튼 배치 */
    align-items: flex-start;
}

/* 버튼 스타일 */
.sidebar .button-group {
    display: flex;
    justify-content: space-between; /* 버튼 간격 균등 분배 */
    width: 100%; /* 버튼 그룹의 폭 설정 */
}

.sidebar .button-group .create-text,
.sidebar .button-group .edit-text {
    font-size: 1.2rem; /* 텍스트 크기 */
    color: white; /* 흰색 글씨 */
    cursor: pointer;
    text-decoration: none; /* 기본 밑줄 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
    border: none; /* 테두리 제거 */
    background: none; /* 배경 제거 */
}

/* 목록 스타일 */
#dynamic-list {
    margin-top: 10px;
}
